[package]
name = "zed_scala"
version = "0.2.0"
edition = "2024"
publish = false
license = "Apache-2.0"

[lib]
crate-type = ["cdylib"]

[dependencies]
zed_extension_api = "0.7.0"
serde = { version = "1.0.228", features = ["derive"] }
